*
{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', sans-serif;
}

body
{
    height: 100vh;
    background: antiquewhite;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto 20%  auto 10%;
    grid-template-areas: 
    "brand Navbar navbar"
    "hjem hjem hjem"
    "om om om"
    "portfolio portfolio portfolio"
    "kontakt kontakt kontakt"
}

#brand
{
    grid-area: brand;
    float: left;
}

#logo
{
    grid-area: logo;
    height: 6em;
    width: 6em;
}

.fas
{
    color: #fff;
    font-size: 32px;
    float: right;
    padding-top: 32px;
    padding-right: 40px;
}

#navbar
{
    grid-area: navbar;
    overflow: hidden;
    background: #000;
    opacity: 0.9;
}

#navbar li 
{
    float: left;
    display: flex;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#navbar li a
{
    color: #fff;
    text-decoration: none;
    padding: 30px;
    padding-left: 110px;;
}

#navbar #logo
{
    animation: logoAnimation .7s forwards 0s linear;
}

#navbar .hjem
{
    animation: hjemAnimation .7s forwards 0s linear;
}

#navbar .om
{
    animation: omAnimation .7s forwards 0s linear;
}

#navbar .portfolio
{
    animation: portfolioAnimation .7s forwards 0s linear;
}

#navbar .kontakt
{
    animation: kontaktAnimation .7s forwards 0s linear;
}
#navbar li a:hover, .fas
{
    color: #00d844;
    text-decoration: none;
}

ul
{
    display: none;
    list-style-type: none;
}

.active
{
    position: absolute;
    display: block;
    background: #000;
    width: 100%;
    left: 0;
    top: 100px;
    height: 51%;
    animation: activeAnimation .5s forwards 0s linear;
}

#hjem
{
    grid-area: hjem;
}

#hjem .container
{
    text-align: center;
    background-color: #6A5252;
    color: #ffffff;
    padding: 40px;
}

#hjem h1
{
    text-anchor: middle;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    
}

#hjem p
{
    font-size: 22px;
    text-align: center;
}

#hjem .imgtext
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 4px #000000;
}

#hjem #cta
{
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(0, 81, 255);
    cursor: pointer;
}

#hjem #cta a
{
    color: #fff;
    text-decoration: none;
}

#om
{
    grid-area: om;
    background-color: #fff;
}

#portfolio
{
    grid-area: portfolio;
    background-color: #fff;
}

#om
{
    background-color: antiquewhite;
}

#om h3
{
    text-align: center;
    font-size: 32px;
    padding-top: 10px;
}

#om img
{
    height: 260px;
    margin-left: 10%;
    padding: 20px;
}

#om hr
{
    width: 70%;
    margin-left: 15%;
    border: 1px solid rgb(6, 109, 37);
    border-radius: 5px;
}

#om p
{
    font-size: 22px;
    text-align: left;
    margin: 20px;
}




footer
{
    grid-area: footer;
    background-color: #333;
}

@keyframes logoAnimation
{
0%{
    transform: translateX(-100%);
    }
100%{
    transform: rotate(xx) translateX(-0%);
    }
}


@keyframes activeAnimation{
0%{
    transform: rotate(0) translateY(-100%);
    opacity: 0;
    }
5%{
    transform: rotate(0) translateY(-99%);
    opacity: 1;
    }
100%{
    transform: rotate(0) translateY(0);
    opacity: 1;
    }
}


@media screen and (min-width: 768px)
{

    .fas
    {
        display: none;
    }

    ul
    {
        display: flex;
    }




    #navbar
    {
        grid-area: navbar;
        overflow: hidden;
        background: #000;
        opacity: 0.7;
    }

    #navbar li 
    {
        float: left;
        text-align: center;
        font-size: 1.7em;
        font-weight: bold;
    }

    #navbar li a
    {
        color: #fff;
        text-decoration: none;
        padding: 30px;
    }

    #hjem h1
    {
        text-anchor: middle;
        text-align: center;
        font-size: 60px;
        padding: 20px;
    }

    #hjem p
    {
        font-size: 32px;
        text-align: center;
    }


    #hjem #cta
    {
        font-size: 28px;
    }

    @keyframes hjemAnimation{
        0%{
            transform: rotate(0) translateX(-150%);
            }
        100%{
            transform: rotate(0) translateX(-0%);
            }
    }
    
    @keyframes omAnimation{
        0%{
            transform: rotate(0) translateX(-300%);
            }
        100%{
            transform: rotate(0) translateX(-0%);
            }
    }
    
    @keyframes portfolioAnimation{
        0%{
            transform: rotate(0) translateX(-250%);
            }
        100%{
            transform: rotate(0) translateX(-0%);
            }
    }
    
    @keyframes kontaktAnimation{
        0%{
            transform: rotate(0) translateX(-700%);
            }
        100%{
            transform: rotate(0) translateX(0%);
            }
    }

}

@media screen and (min-width: 1024px)
{


}

